*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
    --withe: #FFFFFF;
    --space-default: 70px;
}

body{
    
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-left: var(--space-default);
    padding-top: var(--space-default);
    padding-right: var(--space-default);
    padding-bottom: 24px;
    font-family: 'Righteous', cursive;
}
header{
    
    height: 48px;
}
.logo{
    display: flex;
    align-items: center;
    gap:16px;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 2rem;
}
main{
    background-color: tomato;
    flex-grow: 1;
}
footer{
    background-color: purple;
}